{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(206, 206, 228);

      
  }

  
</style>
<!--Form Section-->

<div>
  <form method="POST" action="{{ url_for('crop_prediction') }}" class="formm">
    <h1>
      <b>Find Ideal Crop</b>
    </h1>
    <div class="fdata">
      <div class="roww">
        <div class="form-group">
          <label for="Nitrogen" style="font-size: 16px"><b>Nitrogen</b></label>
          <input
            type="number"
            class="form-control"
            id="Nitrogen"
            name="nitrogen"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="Phosphorus" style="font-size: 16px"
            ><b>Phosphorus</b></label
          >
          <input
            type="number"
            class="form-control"
            id="Phosphorous"
            name="phosphorous"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
      <div class="roww">
        <div class="form-group">
          <label for="Potassium" style="font-size: 16px"><b>Potassium</b></label>
          <input
            type="number"
            class="form-control"
            id="Pottasium"
            name="pottasium"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
        <div class="form-group">
          <label for="ph" style="font-size: 16px"><b>pH level</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="ph"
            name="ph"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
        <div class="form-group">
          <label for="Rainfall" style="font-size: 16px"><b>Rainfall (in mm)</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="Rainfall"
            name="rainfall"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
         
        </div>
        <div class="roww" style="margin-top: 20px;">
        <div class="form-group">
          <label for="State" style="font-size: 16px "><b>State</b></label>
          <select
            onchange="print_city('state', this.selectedIndex);"
            id="sts"
            name="stt"
            class="form-control"
            style="font-weight: bold; color: black;"
            
            required
          ></select>
          </div>
          <div class="form-group">
          <label for="City" style="font-size: 16px"><b>City</b></label>
          <select
            id="state"
            class="form-control"
            name="city"
            style="font-weight: bold; color: black;"
            required
          ><option value="value" selected>Select City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option></select>
          <script language="javascript">
            print_state("sts");
          </script>
          </div>
        </div>
     </div>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-info"
            style="color: white; background-color: rgb(40, 160, 62);font-weight: bold; width: 60%; height:40px; border-radius:20px; font-size: 18px;margin-top: 22px;"
          >
            Predict
          </button>
        </div>
    </div>
  </form>
</div>



<!-- Form section -->

{% endblock %}
